body {
  background-color: pink;
}

// .container {
//   display: none;
// }
.hideable {
  display: none;
}

.playingAreaRow {
  background-color: rgb(46, 89, 196);
  height: 8rem;
}
.playingAreaSubheader {
  font-size: 0.8rem;
  color: whitesmoke;
}

.infoBarRow {
  height: 4rem;
  align-items: center;
}
.currPlayerHand {
  min-height: 10rem;
  display: inline-flex;
}

.cardEls {
  font-size: 0.6rem;
  width: 3rem;
  height: 4.2rem;
  border: solid black;
  border-width: 1px;
  border-radius: 5%;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.2rem;
  padding: 0.1rem;
}
.cardEls:hover {
  background-color: rgb(222, 216, 216);
}
.cardDisplayTop {
  text-align: left;
}
.cardDisplaySuit {
  text-align: center;
}
.cardDisplayBottom {
  text-align: right;
}

.drawPileCardContainer {
  background-image: url("https://playcards.live/cards/back.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.cardsLeftBanner {
  background-color: black;
  opacity: 70%;
  text-align: center;
  color: white;
  width: 100%;
  margin: 0px;
}

// .discardPile,
// .drawPile,
// .referenceCardPile {
//   font-size: 0.5rem;
//   width: 3rem;
//   height: 5rem;
//   border: solid black;
//   border-width: 1px;
//   background-color: white;
//   display: inline-block;
//   margin: 0.5rem;
// }
// .drawPile {
//   font-size: 0.5rem;
//   width: 3rem;
//   height: 5rem;
//   border: solid black;
//   border-width: 1px;
//   background-color: white;
//   display: inline-block;
//   margin: 0.5rem;
// }

// .descriptionHidden {
//   display: none;
// }
//========CONCERNING MODAL==============
#descriptionHidden {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
